<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-4">
            <h3>Customer Details</h3>
            <form [formGroup]="infoForm">
                <div class="form-group">
                    <label class="form-label">FirstName:</label>
                    <input type="text"
                        [class.is-invalid]="infoForm.get('firstName')?.invalid && infoForm.get('firstName')?.touched"
                        class="form-control" formControlName="firstName" />
                    <div *ngIf="infoForm.get('firstName')?.invalid && infoForm.get('firstName')?.touched">
                        <small class="text-danger" *ngIf="infoForm.get('firstName')?.errors?.['required']">Username is
                            required.</small>
                        <small class="text-danger" *ngIf="infoForm.get('firstName')?.errors?.['minlength']">Username
                            must be large.</small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" formControlName="lastName" />
                </div>
                <div class="form-group">
                    <label>Age:</label>
                    <select class="form-control" formControlName="age">
                        <option selected>Select age</option>
                        <option *ngFor="let topic of numberArray">{{topic}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <label>Gender:</label>
                    <select class="form-control" formControlName="gender"
                        [class.is-invalid]="infoForm.get('gender')?.touched&& infoForm.get('gender')?.invalid">
                        <option selected>Select gender</option>
                        <option *ngFor="let gender of gender">{{gender}}</option>
                    </select>
                    <small class="text-danger"
                        [class.d-none]="infoForm.get('gender')?.untouched || infoForm.get('gender')?.valid">Gender is
                        required.</small>
                </div>
                <div class="form-group">
                    <label>EmailId:</label>
                    <input type="text" class="form-control" formControlName="emailId"
                        [class.is-invalid]="infoForm.get('emailId')?.invalid && infoForm.get('emailId')?.touched" />
                    <small class="text-danger"
                        [class.d-none]="infoForm.get('emailId')?.valid || infoForm.get('emailId')?.untouched">Enter
                        valid email</small>
                </div>
                <button type="button" [disabled]="infoForm.invalid" class="btn btn-primary" (click)="onNext()" routerLink="/address">Next</button>

            </form>
        </div>  
    </div>
</div>